<div class="row justify-content-md-center" style="margin-top: 20px;">
  <br>
  <br>
  <button type="button" class="btn btn-success">Sélectionne tes préférences</button>
</div>

<div class="container" style="margin-top: 20px;">
  <h2>Mardi 16 octobre 2018</h2>
  <h3>Trouve ton concert</h3>
</div>

<div class="row justify-content-md-center">
    <div class="list-group col-md-2">
      <a href="#" class="list-group-item list-group-item-action">{{event1.date_start}}<br>{{event1.space_time_info}}</a>
    </div>

    <div class="list-group col-md-6">
      <a href="#" class="list-group-item list-group-item-action">{{event1.title}}</a>
    </div>

    <div class="list-group col-md-2">
      <a href="#" class="list-group-item list-group-item-action">{{event1.placename}}</a>
    </div>
</div>
<br/>

<div class="row justify-content-md-center">
  <div class="list-group col-md-2">
    <a href="#" class="list-group-item list-group-item-action">{{event2.date_start}}<br>{{event2.space_time_info}}</a>
  </div>

  <div class="list-group col-md-6">
    <a href="#" class="list-group-item list-group-item-action">{{event2.title}}</a>
  </div>

  <div class="list-group col-md-2">
    <a href="#" class="list-group-item list-group-item-action">{{event2.placename}}</a>
  </div>
</div>
<br/>

<div class="row justify-content-md-center">
  <div class="list-group col-md-2">
    <a href="#" class="list-group-item list-group-item-action">{{event3.date_start}}<br>{{event3.space_time_info}}</a>
  </div>

  <div class="list-group col-md-6">
    <a href="#" class="list-group-item list-group-item-action">{{event3.title}}</a>
  </div>

  <div class="list-group col-md-2">
    <a href="#" class="list-group-item list-group-item-action">{{event3.placename}}</a>
  </div>
</div>
<br/>

<div class="row justify-content-md-center">
  <div class="list-group col-md-2">
    <a href="#" class="list-group-item list-group-item-action">{{event4.date_start}}<br>{{event4.space_time_info}}</a>
  </div>

  <div class="list-group col-md-6">
    <a href="#" class="list-group-item list-group-item-action">{{event4.title}}</a>
  </div>

  <div class="list-group col-md-2">
    <a href="#" class="list-group-item list-group-item-action">{{event4.placename}}</a>
  </div>
</div>
<br/>
