<div class="row justify-content-md-center">
  <button type="button" class="btn btn-success">Sélectionne tes préférences</button>
</div>
<div class="container">
  <h2>Mardi 16 octobre 2018</h2>
  <h3>Trouve ton évènement</h3>

  <div class="row justify-content-md-left" *ngIf="isLoaded">
    <div *ngFor="let event of data.records">
      <div class="col-md-3">
        {{ event.fields.date_start }}
        {{ event.fields.timetable }}
      </div>
      <div class="col-md-9">
        {{ event.fields.title }}
        {{event.fields.placename}}
      </div>
      <br>
    </div>
  </div>
</div>