<div class="container-fluid background-color">
  <div class="row justify-content-md-center">
    <h4 class="h4 col-md-5 mt-1">{{ frDate }}</h4>
    <button class="btn btn-success col-md-5 mt-1">
      <a routerLink="/param">Sélectionne tes préférences</a>
    </button>
  </div>
  <div *ngIf="isLoaded">
    <div *ngFor="let event of data.records; let i = index">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2">
          {{ event.fields.date_start }}
          {{ event.fields.timetable }}
        </div>
        <div class="col-12 col-sm-5 col-md-7"><a [routerLink]="[i]">
          {{ event.fields.title }}
        </a></div>
        <div class="col-12 col-sm-4 col-md-3">
          {{event.fields.placename}}
        </div>
      </div>
      <hr>
    </div>
    <br>
  </div>
</div>
