<div class="background-img col-12"> 
    <div class="row">
      <div class="container-fluid" id="title">
            <h2>{{ event.fields.title }}<br/></h2>
            <h5>{{ event.fields.free_text }}</h5> 
      </div>
    </div>
</div>

<div class="container-fluid" id="details">
    <div class="row">
        <div class="right col-12 col-sm-12 col-md-6">
            <h2>Qu'est-ce que c'est?</h2>
                <p>{{ event.fields.description }}</p>
            <h2>Où ça se passe?</h2>
                <p>{{ event.fields.placename }}<br/>{{ event.fields.address }}</p>
                <p>lattitude {{ event.fields.latlon[0] }} longitude {{ event.fields.latlon[1] }}</p>
            <h2>Quand?</h2>
                <p>{{ event.fields.space_time_info }}</p>
            <h2>Combien ça coûte?</h2>
                <p>{{ event.fields.title }}</p>
            <h4><a href="{{event.fields.link}}" target="_blank">Plus de détails en suivant ce lien</a></h4>
            <br/>
        </div>
        <div class="map col-sm-12 col-md-6">
            <app-map></app-map>
            <!-- <img id="map-img" src="/src/assets/images/map-paris.jpeg" alt="map"/> -->
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>