<div class="background-img">
      <div class="container-fluid">
            <h2>{{ event.fields.title }}</h2>
            <span>{{ event.fields.description }}</span> 
      </div>
</div>
<div>
  <div class="right">
    <h2>Qu'est-ce que c'est?</h2>
        <p>{{ event.fields.free_text }}</p>
    <h2>Où ça se passe?</h2>
        <p>{{ event.fields.placename }}
          {{ event.fields.address }}</p>
    <h2>Quand?</h2>
        <p>{{ event.fields.date_start }}
          {{ event.fields.date_end }}
          {{ event.fields.timetable }}
        </p>
    <h2>Combien ça coûte?</h2>
        <p>{{ event.fields.pricing_info }}</p>
    <h2>Plus de détails en suivant ce lien</h2>
        <p>{{ event.fields.link }}</p>
  </div>
<img id="map-img" src="https://via.placeholder.com/350x350" alt="map"/>
</div>