<div container-fluid>
  <div row>
    <div class="input-group mb-3 col-12 col-sm-6">
      <h1 class="form-control">Paramètres</h1>
      <div class="input-group-append">
        <button class="btn btn-outline-sucess" type="button">Go !</button>
      </div>
    </div>
  </div>
  <div row>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Concert</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Exposition</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Théatre</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Clubbing</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Spectacle</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Cinéma</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Conférence</button>
    <button type="checkbox" class="btn btn-secondary col-6 col-sm-6 col-md-3 col-lg-2">Gratuit</button>
  </div>
  <div row>
    <div>
      Date<input type="date" name="eventDate" class="input-group mb-3 col-10 col-sm-3 col-lg-2 offset-1">
    </div>
    <div col-10 offset-1>
      Distance autour de moi en km
      <input type="number" name="distance" placeholder="5" class="input-group mb-3 col-2 col-sm-1 col-lg-1 offset-1">
    </div>
  </div>
</div>