  <div class="background-img">
  <div class="row justify-content-md-center"></div>
    <div class="container">
    <h1>Trouve ta sortie sur Paris</h1>
    <button class="btn btn-danger"><i class="fa fa-calendar-o"></i> Parcourir l'agenda</button>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  <button class="btn btn-danger"><i class="fa fa-calendar-o"></i> Parcourir l'agenda</button>
  </div>



